    <!-- End Content -->
    <!-- Start Footer -->
    <div class="footer px-5 bg-white">
      <footer>
        <div class="row">
          <div class="logo-p col-5">
            <img src="data/uploads/logo.png" alt="eCommerce">
            <div class="p-1">Copyright &copy; Developed By Kareem El-Giushy</div>
          </div>
          <div class="navigate-menu col">
            <div class="row">
              <ul class="col-4">
                <li>about us</li>
                <li>contact us</li>
                <li>support</li>
              </ul>
              <ul class="col-4">
                <li>our feed</li>
                <li>terms and conditions</li>
                <li>your privacy</li>
              </ul>
              <ul class="col-4">
                <li>join us</li>
                <li>live support</li>
              </ul>
              <!-- <div class="payment col">
                <h5>Payment Methods</h5>
                <ul>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/mastercard.svg">
                      <img src="data/uploads/mastercard.svg" alt="mastercard">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/visa.svg">
                      <img src="data/uploads/visa.svg" alt="visa">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/maestro.svg">
                      <img src="data/uploads/maestro.svg" alt="maestro">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/paypal.svg">
                      <img src="data/uploads/paypal.svg" alt="paypal">
                    </object>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- End Footer -->
    <!-- Start Scripts -->
    <script src="layout/js/jquery-3.3.1.min.js"></script>
    <script src="layout/js/jquery-ui.min.js"></script>
    <script src="layout/js/bootstrap.min.js"></script>
    <script src="layout/js/jquery.selectBoxIt.min.js"></script>
    <script src="layout/js/code.js"></script>
    <!-- End Scripts -->
  </body>
</html>
