    <!-- End Content -->
    <!-- Start Footer -->
    <div class="footer px-5 bg-white pt-5 pb-4">
      <footer>
        <div class="row">
          <div class="logo-p col-12 col-lg-5 text-sm-center text-lg-left">
            <img src="data/uploads/logo.png" alt="eCommerce">
            <div class="p-1 font-har-regular">Copyright &copy; Developed By Kareem El-Giushy</div>
          </div>
          <div class="navigate-menu col">
            <div class="p-0 col-12">
              <h3 class='text-left font-har-semibd mt-3 px-2'>Navigation :-</h3>
              <hr class='bg-light'/>
            </div>
            <div class="row">
              <ul class="col-12 col-md-4">
                <li><a href="#">about us</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">support</a></li>
              </ul>
              <ul class="col-12 col-md-4">
                <li><a href="#">our feed</a></li>
                <li><a href="#">terms and conditions</a></li>
                <li><a href="#">your privacy</a></li>
              </ul>
              <ul class="col-12 col-md-4">
                <li><a href="#">join us</a></li>
                <li><a href="#">live support</a></li>
              </ul>
              <!-- <div class="payment col">
                <h5>Payment Methods</h5>
                <ul>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/mastercard.svg">
                      <img src="data/uploads/mastercard.svg" alt="mastercard">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/visa.svg">
                      <img src="data/uploads/visa.svg" alt="visa">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/maestro.svg">
                      <img src="data/uploads/maestro.svg" alt="maestro">
                    </object>
                  </li>
                  <li class=''>
                    <object type="image/svg+xml" data="data/uploads/paypal.svg">
                      <img src="data/uploads/paypal.svg" alt="paypal">
                    </object>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- End Footer -->
    <!-- Start Scripts -->
    <script src="layout/js/jquery-3.3.1.min.js"></script>
    <script src="layout/js/jquery-ui.min.js"></script>
    <script src="layout/js/bootstrap.min.js"></script>
    <script src="layout/js/jquery.selectBoxIt.min.js"></script>
    <script src="layout/js/code.js"></script>
    <script src="layout/js/slider.js"></script>
    <!-- End Scripts -->
  </body>
</html>
