/* Fonts */
@font-face {
    font-family: 'har-sans-black';
    src: url("../fonts/HarmoniaSansProCyr-Black.otf");
}
@font-face {
    font-family: 'har-sans-bold';
    src: url("../fonts/HarmoniaSansProCyr-Bold.otf");
}
@font-face {
    font-family: 'har-sans-italic';
    src: url("../fonts/HarmoniaSansProCyr-Italic.otf");
}
@font-face {
    font-family: 'har-sans-light';
    src: url("../fonts/HarmoniaSansProCyr-Light.otf");
}
@font-face {
    font-family: 'har-sans-regular';
    src: url("../fonts/HarmoniaSansProCyr-Regular.otf");
}
@font-face {
    font-family: 'har-sans-semibd';
    src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf");
}
/* Global */
*{
  box-sizing: border-box;
}
:root {
  --main-color: #ff5912;
  --main-black: #34404b;
}
body, html{
  margin: 0;
  padding: 0;
}
kbd{
  display: inline-block;
}
.l-capital{
  text-transform: capitalize;
}
.clickedy{
  background-color: #EEE;
}
.user-img{
  max-height: 190px;
  object-fit: cover;
}
.item-img{
  max-height: 348px;
  height: 348px;
  object-fit: cover;
}
.form-row{
  position: relative;
}
.negma{
  position: absolute;
  top: 7px;
  right: 2%;
  font-size: 20px;
  color: #e74c3c;
}
.small-negma{
  position: absolute;
  top: 7px;
  right: 3%;
  display: none;
  font-size: 20px;
  color: #e74c3c;
  z-index: 1;
}
.date-tag{
  position: absolute;
  top: 49px;
  left: 0;
  background: var(--gray);
  color: #fff;
  padding: 5px;
}
@media (min-width: 0) AND (max-width: 767.98px) {
  .small-negma{
    display: inline-block;
  }
  input[name='first-name'] ~ .negma, input[name='last-name'] ~ .negma{
    display: none;
  }
}

input[type="password"] ~ .negma{
  position: absolute;
  top: 7px;
  right: 55px;
  font-size: 20px;
  color: #e74c3c;
}
/* color Classes */
.bg-main-color {
  background-color: var(--main-color);
}
.text-main-color {
  color: var(--main-color);
}
.bg-main-black {
  background-color: var(--main-black);
}
.text-main-black {
  color: var(--main-black);
}
/* end Color Classes */
/* Font Classes */
.font-har-black {
  font-family: 'har-sans-black';
}
.font-har-bold {
  font-family: 'har-sans-bold';
}
.font-har-italic {
  font-family: 'har-sans-italic';
}
.font-har-light {
  font-family: 'har-sans-light';
}
.font-har-regular {
  font-family: 'har-sans-regular';
}
.font-har-semibd {
  font-family: 'har-sans-semibd';
}
/* Hover Classes */
.a-hover:hover {
  color: var(--main-color);
}
/* Text limit */
.text-limit {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
/* End Global */
/*****************************************************/
/* upper-bar */
.upper-bar {
  border-bottom: 5px solid var(--light);
}
.upper-bar a {
  /* font-size: 14px; */
  text-decoration: none;
  color: #a8b2ba;
}
.upper-bar .part-2 a {
  /* border-left: 1px solid #FFF; */
  border-radius: 3px;
  padding: 4px;
  float: right;
}
.fa-twitter {
  color: #38A1F3;
}
.fa-pinterest {
  color: #c8232c;
}
/* end the upper-bar */
/* Start the navbar */
.navey {
  /* overflow: hidden; */
  position: sticky;
  top:0;
  z-index: 1;
}
/* the menu btn */
.menu-icon {
  position: relative;
  text-align: center;
  display: block;
  width: 70px;
  height: 35px;
  top: -12px;
  left: 19px;
  cursor: pointer;
  transform: scale(0.5)
}
.slach {
  width: 60px;
  height: 6px;
  background: var(--main-color);
  border-radius: 10px;
  display: block;
  margin: 15px 0;
  transition: all .5s ease-in-out;
}
.slach:last-child {
  margin-bottom: 0;
}
.clicked {
  top: -12px;
}
.clicked .slach:nth-child(2) {
  opacity: 0;
}
.clicked .slach:nth-child(1) {
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
}
.clicked .slach:nth-child(3) {
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
}
/* End the menu btn */
/* Start the actual menu */
.cates-card-body {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  transition: opacity 1.5s ease-in-out;
}
.cates-card-body .up-arrow {
  left: 65px !important;
}
.list-group-flush .list-group-item {
  border-radius: 9px;
  box-shadow: -10px 2px 5px #b6b6b6;
}
.list-group-flush .list-group-item:hover {
  color: #000;
}
/* the arrow */
.up-arrow {
  width: 20%;
  height: 28px;
  position: absolute;
  overflow: hidden;
  /* left: 15px; */
  left: 78px;
  top: -28px;
}
.up-arrow:last-of-type {
  left: 85px;
}
.up-arrow::after {
  content: '';
  background-color: #fff;
  top: 23px;
  width: 40px;
  height: 40px;
  left: -7px;
  transform: rotate(45deg);
  position: absolute;
}
.up-arrow::before {
  content: '';
  background-color: #d3d3d3;
  top: 22px;
  width: 40px;
  height: 40px;
  left: -7px;
  transform: rotate(45deg);
  position: absolute;
}
/* End the up-arrow */
/* start the searching form */
div.navey nav form input.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 89, 18, 0.25);
  border-color: #fbbca1;
}
div.navey nav form .btn-outline-secondary {
  color: var(--main-color);
  background-color: transparent;
  border-color: var(--main-color);
}
div.navey nav form .btn-outline-secondary:hover {
  color: #FFF;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end the searching form */
/* start the account button */
.signin-btn a {
  background-color: var(--main-color);
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}
.signin-btn a:hover {
  background-color: #e24d0e;
 background-color: #e24d0e;
}
.downdroping {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.downdroping a:hover {
  color: #e24d0e;
}
li.nav-item.dropdown {
  padding: 0.375rem 0.75rem
}
.cart a.dropdown-toggle::after {
  color: var(--noo-yellow);
}
.cart .dropdown-menu {
  left: -100px;
}
.cart a i {
 color: var(--main-color);
}
.cart a i:hover {
  color: #e24d0e;
  color: #e24d0e
}
.cart a span {
  width: 15px;
  height: 15px;
  background-color: #FFF;
  color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: -8px;
  line-height: 1.01023em;
  display: inline-block;
  font-weight: 500;
}
/* navbar responsive */
@media (min-width: 0) and (max-width: 768px) {
  .cates-card-body .up-arrow {
    top: -26px !important;
    left: 65px !important;
  }
  .up-arrow {
    top: 30px;
    left: 60px;
  }
  .up-arrow:last-of-type {
    top: 32px;
    left: 100px;
  }
  .cart a span {
    position: unset;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .cates-card-body .up-arrow {
    top: -26px !important;
    left: 65px !important;
  }
  .up-arrow {
    top: 30px;
    left: 60px;
  }
  .up-arrow:last-of-type {
    top: 32px;
    left: 275px;
  }
  .cart a span {
    position: unset;
  }
}
/* end navbar responsive */
/*********************************************************************/
/* the slider */
.slider-body {

}
.text-slider {
  overflow: hidden;
  position: relative;
}
.text-slider ul {
  width: calc(100% * 7);
  list-style: none;
}
.text-slider ul li {
  width: calc(88% / 7);
  height: 100%;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
}
.text-slider .controlers {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-slider .arrows-control .fa:first-of-type {
  position: absolute;
  left: 10px;
  top: 33%;
  cursor: pointer;
}
.text-slider .arrows-control .fa:last-of-type {
  position: absolute;
  right: 10px;
  top: 33%;
  cursor: pointer;
}
.text-slider div.controlers i.active:before, .text-slider div.controlers i:hover::before {
    font-weight: 900;
    cursor: pointer;
}
.slider-body .image-cont {
  overflow: hidden;
  position: relative;
  height: 485px
}
.slider-body .image-cont ul {
  width: calc(100% * 7);
  list-style-type: none;
}
.slider-body .image-cont ul li {
  width: calc(88% / 7);
  display: block;
  height: 100%;
}
/* End Slider */
/*********************************************************************/
/* Start cards */
.main-contain {
  position: relative;
  perspective: 1000px;
  height: 410px;
}
.card-item {
  transform-style: preserve-3d;
  position: absolute;
  transition: all 1s ease;
  width: 87%;
  height: 100%;
  /* cursor: pointer; */
}
.face {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card-item:hover {
  transform: rotateY(180deg);
  box-shadow: 0 0 35px -20px var(--main-black);
}
.card-item .face img {
  height: 270px;
  object-fit: contain;
}
.card-item .back img {
  height: 170px;
  object-fit: contain;
}
.card-item .face h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-item .back h4 {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
.card-item .back .colors div:not(.text-center) {
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.card-item .back ul {
  width: 100%;
  height: 25px;
  display: inline-block;
  padding: 0;
}
.card-item .back ul li {
  /* float: left; */
  display: inline;
  padding: 25px;
  list-style: none;
  cursor: pointer;
}
.card-item a:hover, .card-item a:hover h4  {
  color: var(--main-color);
}
.card-item .back .icons-options li:hover i.far {
  font-weight: 900;
  color: var(--main-color);
}
.card-item .back .icons-options li:hover i.fa.fa-sync {
  color: var(--main-color);
}
/* End cards */
/*********************************************************************/
/* Start offers */
.offers, .service {
  height: 98px;
}
.service div {
  padding: 35px;
}
/* End offers */
/********************************************************************/
/* Start best sales */
.best-s {

}
.best-s .best-card div img {
  width: 86px;
  height: 138px;
  object-fit: contain;
}
.section-3 .best-s .row div:nth-child(2) .best-card {
  transform: scale(1.1);
  box-shadow: 0 0 35px -20px var(--main-black);
}
/* end best sales */
/********************************************************************/
/* Start encouraging signing up */
.en-message {
  padding-top: 21px;
  padding-bottom: 8px;
}
.en-message h6 {

}
.signing-b div .iconic {
  height: 44px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 20px;
  background: var(--light);
  border: 1px solid rgba(52, 64, 73, 0.18);
}
.signing-b div i {

}
.signing-b div input[type='email']:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 89, 18, 0.25);
    border-color: #fbbca1;
}
/***** section-4 responsive *****/
@media (min-width: 0) and (max-width: 576px) {
  .signing-b div .email-pa {
    padding-right: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px){

}
/* End encouraging signing up */
/********************************************************************/
/* Start Styleing Items */
.item-title{
  line-height: 2em;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.item-desc{
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
/* login sign up form */
.login-btn, .signup-btn{
  border: 5px solid #EEE;
  height: 65px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: background .5s ease-in-out;
}
.login-btn:hover, .signup-btn:hover{
  background-color: #EEE;
}
/* login and sign up responsive */

/* profile */
.menu .list-group-item{
  cursor: pointer;
}
.menu .list-group-item.disabled{
  cursor: not-allowed;
}
.menu .list-group-item:not(.disabled):hover, .menu .list-group-item:not(.disabled):hover a{
  text-decoration: none;
  background-color: var(--primary);
  color: #FFF;
}
.item-title-pro{
  line-height: 2em;
  height: 3.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
/* Membership page */
.stage{
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10%;
}
.stage .price span{
  font-size: 30px;
}
.stage .list-group li{
  border-top-right-radius: 20px;
  margin-top: 10px;
}
.stage .list-group li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}
.stage .list-group.s li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--secondary);
}
.stage .list-group.g li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--yellow);
}
.stage > div.l-capital > span{
  padding: 10px;
  margin-top: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
}
.stage > div > button{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #DDD;
  border: none;
  outline: 0;
  padding: 10px;
  cursor: pointer;

}
.stage div button.gold{
  background-color: var(--yellow);
}
/*****************************************************/
/* Starting footer */
div.footer {

}
div.footer footer ul li {
  color: var(--main-black);
  padding: 10px;
  font-family: 'har-sans-regular';
  cursor: pointer;
}
div.footer footer ul li a {
  color: var(--main-black);
  font-family: 'har-sans-regular';
  text-decoration: none;
}
div.footer footer ul li:hover a{
  color: var(--main-color);
}
div.footer footer ul li:hover {
  color: var(--main-color);
}
/* End Footer */
