/* Global */
*{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #ff5912;
  --main-black: #34404b;
}
kbd{
  display: inline-block;
}
.l-capital{
  text-transform: capitalize;
}
.clickedy{
  background-color: #EEE;
}
.user-img{
  max-height: 190px;
  object-fit: cover;
}
.item-img{
  max-height: 348px;
  height: 348px;
  object-fit: cover;
}
.form-row{
  position: relative;
}
.negma{
  position: absolute;
  top: 7px;
  right: 2%;
  font-size: 20px;
  color: #e74c3c;
}
.small-negma{
  position: absolute;
  top: 7px;
  right: 3%;
  display: none;
  font-size: 20px;
  color: #e74c3c;
  z-index: 1;
}
.date-tag{
  position: absolute;
  top: 49px;
  left: 0;
  background: var(--gray);
  color: #fff;
  padding: 5px;
}
@media (min-width: 0) AND (max-width: 767.98px) {
  .small-negma{
    display: inline-block;
  }
  input[name='first-name'] ~ .negma, input[name='last-name'] ~ .negma{
    display: none;
  }
}

input[type="password"] ~ .negma{
  position: absolute;
  top: 7px;
  right: 55px;
  font-size: 20px;
  color: #e74c3c;
}
.bg-main-color {
  background-color: var(--main-color);
}
.text-main-color {
  color: var(--main-color);
}
.bg-main-black {
  background-color: var(--main-black);
}
.text-main-black {
  color: var(--main-black);
}
/* End Global */
/*****************************************************/
/* upper-bar */
.upper-bar {
  border-bottom: 5px solid var(--light);
}
.upper-bar a {
  font-size: 14px;
  text-decoration: none;
  color: #a8b2ba;
}
.upper-bar .part-2 a {
  /* border-left: 1px solid #FFF; */
  border-radius: 3px;
  padding: 4px;
  float: right;
}
.upper-bar .part-2 a:first-child {
  border-left: none;
}
/* end the upper-bar */
/* Start the navbar */
.navey {
  /* overflow: hidden; */
  position: sticky;
  top:0;
  z-index: 1;
}
/* the menu btn */
.menu-icon {
  position: relative;
  text-align: center;
  display: block;
  width: 70px;
  height: 35px;
  top: -12px;
  left: 19px;
  cursor: pointer;
  transform: scale(0.5)
}
.slach {
  width: 60px;
  height: 6px;
  background: var(--main-color);
  border-radius: 10px;
  display: block;
  margin: 15px 0;
  transition: all .5s ease-in-out;
}
.slach:last-child {
  margin-bottom: 0;
}
.clicked {
  top: -12px;
}
.clicked .slach:nth-child(2) {
  opacity: 0;
}
.clicked .slach:nth-child(1) {
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
}
.clicked .slach:nth-child(3) {
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
}
/* End the menu btn */
/* Start the actual menu */
.cates-card-body {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  transition: opacity 1.5s ease-in-out;
}
.cates-card-body .up-arrow {
  left: 65px !important;
}
.list-group-flush .list-group-item {
  border-radius: 9px;
  box-shadow: -10px 2px 5px #b6b6b6;
}
.list-group-flush .list-group-item:hover {
  color: #000;
}
/* the arrow */
.up-arrow {
  width: 20%;
  height: 28px;
  position: absolute;
  overflow: hidden;
  /* left: 15px; */
  left: 78px;
  top: -28px;
}
.up-arrow:last-of-type {
  left: 85px;
}
.up-arrow::after {
  content: '';
  background-color: #fff;
  top: 23px;
  width: 40px;
  height: 40px;
  left: -7px;
  transform: rotate(45deg);
  position: absolute;
}
.up-arrow::before {
  content: '';
  background-color: #d3d3d3;
  top: 22px;
  width: 40px;
  height: 40px;
  left: -7px;
  transform: rotate(45deg);
  position: absolute;
}
/* End the up-arrow */
/* start the searching form */
div.navey nav form .btn-outline-secondary {
  color: var(--main-color);
  background-color: transparent;
  border-color: var(--main-color);
}
div.navey nav form .btn-outline-secondary:hover {
  color: #FFF;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end the searching form */
/* start the account button */
.signin-btn a {
  background-color: var(--main-color);
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}
.signin-btn a:hover {
  background-color: #e24d0e;
 background-color: #e24d0e;
}
.downdroping {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.downdroping a:hover {
  color: #e24d0e;
}
li.nav-item.dropdown {
  padding: 0.375rem 0.75rem
}
.cart a.dropdown-toggle::after {
  color: var(--noo-yellow);
}
.cart .dropdown-menu {
  left: -100px;
}
.cart a i {
 color: var(--main-color);
}
.cart a i:hover {
  color: #e24d0e;
  color: #e24d0e
}
.cart a span {
  width: 15px;
  height: 15px;
  background-color: #FFF;
  color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: -8px;
  line-height: 1.01023em;
  display: inline-block;
  font-weight: 500;
}
/* navbar responsive */
@media (min-width: 0) and (max-width: 768px) {
  .cates-card-body .up-arrow {
    top: -26px !important;
    left: 65px !important;
  }
  .up-arrow {
    top: 30px;
    left: 60px;
  }
  .up-arrow:last-of-type {
    top: 32px;
    left: 100px;
  }
  .cart a span {
    position: unset;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .cates-card-body .up-arrow {
    top: -26px !important;
    left: 65px !important;
  }
  .up-arrow {
    top: 30px;
    left: 60px;
  }
  .up-arrow:last-of-type {
    top: 32px;
    left: 275px;
  }
  .cart a span {
    position: unset;
  }
}
/* end navbar responsive */
/*********************************************************************/
/* Start Styleing Items */
.item-title{
  line-height: 2em;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.item-desc{
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
/* login sign up form */
.login-btn, .signup-btn{
  border: 5px solid #EEE;
  height: 65px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: background .5s ease-in-out;
}
.login-btn:hover, .signup-btn:hover{
  background-color: #EEE;
}
/* profile */
.menu .list-group-item{
  cursor: pointer;
}
.menu .list-group-item.disabled{
  cursor: not-allowed;
}
.menu .list-group-item:not(.disabled):hover, .menu .list-group-item:not(.disabled):hover a{
  text-decoration: none;
  background-color: var(--primary);
  color: #FFF;
}
.item-title-pro{
  line-height: 2em;
  height: 3.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
/* Membership page */
.stage{
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10%;
}
.stage .price span{
  font-size: 30px;
}
.stage .list-group li{
  border-top-right-radius: 20px;
  margin-top: 10px;
}
.stage .list-group li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}
.stage .list-group.s li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--secondary);
}
.stage .list-group.g li:hover{
  cursor: pointer;
  color: #fff;
  background-color: var(--yellow);
}
.stage > div.l-capital > span{
  padding: 10px;
  margin-top: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
}
.stage > div > button{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #DDD;
  border: none;
  outline: 0;
  padding: 10px;
  cursor: pointer;

}
.stage div button.gold{
  background-color: var(--yellow);
}
